extends ../layout

block content

	h1 Books
	p
		a.button(href='new_book.html') Create New Book
	p
		| Filters 
		a(href='all_books.html') All 
		||
		a(href='overdue_books.html') Overdue 
		||  
		a(href='checked_books.html') Checked Out

	table
		thead
			tr
				th Title
				th Author
				th Genre
				th Year Released
				th Loan
		tbody

			each val, index in model
				tr
					td
						a(href=`/books/${model[index].id}`) #{model[index].title}
					td #{model[index].author}
					td #{model[index].genre}
					td #{model[index].first_published}
					td #{model[index].Loans[index].book_id}