table
	thead
		tr
			th Title
			th Author
			th Genre
			th Year Released
	tbody

		each val, index in model
			tr
				td
					a(href=`/books/${model[index].id}`) #{model[index].title}
				td #{model[index].author}
				td #{model[index].genre}
				td #{model[index].first_published}