extends ../layout

block content

	h1 Book: #{model.title}

	if noChange
		h4 Error updating book. No changes made.

	-
		var formErrors
		var publishedValue = (model.first_published != null) ? model.first_published : ''

	-
		if (errors){
			formErrors = errors.map(function(error){
				return error.message;
			})
		}

	form(action='/books/' + model.id + '?_method=PUT' method='post')
		p
			label(for='title') Title
			input#title(type='text', value='#{model.title}' name='title')
			if errors
				span= formErrors[0]
		p
			label(for='author') Author
			input#author(type='text', value='#{model.author}' name='author')
			if errors
				span= formErrors[1]
		p
			label(for='genre') Genre
			input#genre(type='text', value='#{model.genre}' name='genre')
			if errors
				span= formErrors[2]
		p
			label(for='first_published') First Published
			input#first_published(type='text', value='#{publishedValue}' name='first_published')
		p
			input(type='submit', value='Update')

	if isLoaned

		h2 Loan History
		table
			thead
				tr
					th Book
					th Patron 
					th Loaned on
					th Return by 
					th Returned on
					th Action
			tbody
				each val, index in model.Loans
					tr
						td
							a(href=`/books/${model.id}`) #{model.title}
						td
							a(href=`/patron/${model.Loans[index].Patron.id}`) #{`${model.Loans[index].Patron.first_name} ${model.Loans[index].Patron.last_name}`}
						td #{model.Loans[index].loaned_on}
						td #{model.Loans[index].return_by}
						td
						td
							a.button(href='return_book.html') Return Book

	else

		h2 Loan History

		p #{`${model.title} has no loan history.`}