extends ../layout

block content

	h1 Book: #{model.title}

	- var publishedValue = (model.first_published != null) ? model.first_published : ''

	form(action='/books/' + model.id + '?_method=PUT' method='post')
		p
			label(for='title') Title
			input#title(type='text', value='#{model.title}' name='title')
		p
			label(for='author') Author
			input#author(type='text', value='#{model.author}' name='author')
		p
			label(for='genre') Genre
			input#genre(type='text', value='#{model.genre}' name='genre')
		p
			label(for='first_published') First Published
			input#first_published(type='text', value='#{publishedValue}' name='first_published')
		p
			input(type='submit', value='Update')

	if isLoaned

		h2 Loan History
		table
			thead
				tr
					th Book
					th Patron 
					th Loaned on
					th Return by 
					th Returned on
					th Action
			tbody
				tr
					td
						a(href='book_detail.html') A Brief History of Time
					td
						a(href='patron_detail.html') Andrew Chalkley
					td 2015-12-12
					td 2015-12-19
					td
					td
						a.button(href='return_book.html') Return Book
	else

		h2 Book is not loaned!