extends layout

block content

	h1 List of Books

	ul
		each val, index in content
			li #{content[index].title} - #{content[index].first_published} By: #{content[index].author}

	h2 Pagination

	- var n = 1;
	ul
		while n <= pagination
			li: a(href=`/page/${n}`) Page #{n}
			- n++

	h2 Add New Book

	form(method='post', action='/')
		div
			label(for='title') Book Title:
			input(type='text', name='title')
		div        
			label(for='author') Book Author:
			input(type='text', name='author')
		div
			label(for='genre') Book Genre:
			input(type='text', name='genre')
		div        
			input(type='submit')