extends layout

block content

	h1 List of Loans

	ol
		each val, index in content
			li #{content[index].Book.title} - #{content[index].Patron.changeUpper()} #{content[index].Patron.last_name} - #{content[index].loaned_on} - #{content[index].return_by} - #{content[index].returned_on}