table
	thead
		tr
			th Book
			|                 
			th Patron 
			|                 
			th Loaned on
			|                 
			th Return by 
			|                 
			th Returned on
			|                 
			th Action
			|         
		tbody
		each val, index in model
			tr
				td
					a(href='book_detail.html') #{model[index].Book.title} 
				td
					a(href='patron_detail.html') #{model[index].Patron.first_name} #{model[index].Patron.last_name}
				td #{model[index].loaned_on}
				td #{model[index].return_by}
				td #{model[index].returned_on}
				td 
					a.button(href='return_book.html') Return Book