extends ../layout

block content

	h1 New Loan

	form
		p
			label(for='book_id') Book
			select#book_id

				each val, index in model.bookList
					option(value='#{model.bookList[index].id}') #{model.bookList[index].title}

		p
			label(for='patron_id') Patron
			select#patron_id

				each val, index in model.patronList
					option(value='#{model.patronList[index].id}') #{`${model.patronList[index].first_name} ${model.patronList[index].last_name}`}

		p
			label(for='loaned_on') Loaned on:
			input#loaned_on(type='text', value='#{model.presentLoanDate}')
		p
			label(for='return_by') Return by:
			input#return_by(type='text', value='#{model.returnLoanDate}')
		p
			input(type='submit', value='Create New Loan')