table
	thead
		tr
			th Name 
			th Address
			th Email
			th Library ID
			th Zip
	tbody

		- console.log(model)

		each val, index in model
			tr
				td
					a(href='patron_detail.html') #{model[index].first_name}
				td #{model[index].address}
				td #{model[index].email}
				td #{model[index].library_id}
				td #{model[index].zip_code}
