extends ../layout

block content

	h1 Patron: #{model.first_name} #{model.last_name}

	- var formErrors

	-
		if (errors){
			formErrors = errors.map(function(error){
				return error.message;
			});

			var firstNameError = formErrors.find(function(fieldError){
				return fieldError.includes('First');
			});

			var lastNameError = formErrors.find(function(fieldError){
				return fieldError.includes('Last name');
			});

			var addressError = formErrors.find(function(fieldError){
				return fieldError.includes('Address');
			});

			var emailError = formErrors.find(function(fieldError){
				return fieldError.includes('Email');
			});

			var libraryError = formErrors.find(function(fieldError){
				return fieldError.includes('Library');
			});

			var zipError = formErrors.find(function(fieldError){
				return fieldError.includes('Zip');
			});
		}
	
	form(action='/patrons/' + model.id + '?_method=PUT' method='post' class='form-update')
		p.field
			label(for='first_name') First Name
			input#first_name(type='text', value='#{model.first_name}' name="first_name")
			if firstNameError
				span= firstNameError
		p.field
			label(for='last_name') Last Name
			input#last_name(type='text', value='#{model.last_name}' name="last_name")
			if lastNameError
				span= lastNameError
		p.field
			label(for='address')  Address
			input#address(type='text', value='#{model.address}' name="address")
			if addressError
				span= addressError
		p.field
			label(for='email') Email
			input#email(type='text', value='#{model.email}' name="email")
			if emailError
				span= emailError
		p.field
			label(for='library_id') Library ID
			input#library_id(type='text', value='#{model.library_id}' name="library_id")
			if libraryError
				span= libraryError
		p.field
			label(for='zip_code') Zip Code
			input#zip_code(type='text', value='#{model.zip_code}' name="zip_code")
			if zipError
				span= zipError
		p
			input(type='submit', value='Update')

		h2 Loan History
		table
			thead
				tr
					th Book
					th Patron 
					th Loaned on
					th Return by 
					th Returned on
					th Action
			tbody
				each val, index in model.Loans
					tr
						td
							a(href=`/books/${model.Loans[index].Book.id}`) #{model.Loans[index].Book.title}
						td
							a(href=`/patrons/${model.id}`) #{`${model.first_name} ${model.last_name}`}
						td #{model.Loans[index].loaned_on}
						td #{model.Loans[index].return_by}
						td
						td
							a.button(href='return_book.html') Return Book